h1{
    text-align: center;
}
.container{
    text-align: center;
}

.container{
    background-color: floralwhite;
}
form{
 font-family: 'Times New Roman', Times, serif;
 font-size: larger;
}
.print{
    font-size: xx-large;

}
